<div id="top-foot">
  <div id="foot-nav">
    <ul>
      <li><a class="nav-link" href="#">HOME</a></li>
      <li><a class="nav-link" href="#">ABOUT US</a></li>
      <li><a class="nav-link" href="#">CONTACT</a></li>
    </ul>
  </div>
  <a href="#"><img class="social" src="/media/instagram.svg"></img></a>
  <a href="#"><img class="social" src="/media/facebook.svg"></img></a>
  <a href="#"><img class="social" src="/media/twitter.svg"></img></a>
</div>
<div id="bottom-foot">
  <p id="trade-mark">ShaedyCult 2016</p>
</div>