<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Contact us</title>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="container">
    <div class="about-us">
      <div class="about-us-title">HOLD OUT A LITTLE LONGER</div>
      <div class="about-us-body">
        <p>
          Thanks for contacting us! Check your spam folder if you don't see an email from us soon. Feel free to sign up your friends as well :)
        </p>
      </div>
    </div>
    <form id="contact-form" action="/email" method="post">
      <input type="text" name="fname" class="input-left" placeholder="First Name" required autocomplete="off">
      <input type="text" name="lname" class="input-right" placeholder="Last Name" required autocomplete="off">
      <input type="text" name="email" id="email" placeholder="Email Address" required onkeyup="validate()" autocomplete="off">
      <input type="text" id="confirm-email" placeholder="Confirm Email Address"required onkeyup="validateConfirm()" autocomplete="off">
      <textarea rows="4" cols="65" name="message" id="contact-us-msg" placeholder="Message..."></textarea>
      <p id="hidden-warning-message">*emails do not match</p>
      <div style="text-align: center;">
        <button id="custom-button" class="contact-us-button" disabled>BRING ON THE AFTERLIFE</button>
      </div>
    </form>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
<script src="/myjs.js"></script>
</html>
